@charset "UTF-8";

/*
verde: #00A202
preto: #303030
vermelho: #FF0000
branco: #FFFFFF
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #303030;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: #FFFFFF;
    width: 250px;
    height: 515px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
background: #303030 url(../imagens/img-verm-2.jpg) no-repeat;
background-size: cover;
height: 200px;
background-position: center;
display: block;
}

section#login > div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {

    background-color: #9b0202;}
   

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid #303030;
    text-decoration: none;
    color: #303030;
    padding-top: 5px;
    margin-top: 30px;
    border-radius: 5px;
}

form > a.botao:hover {
    background-color: #969696;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: center;
}

.input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    width: 100%;
    margin: 5px 0px;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }





  